In [1]:
#importing Libraries
import pandas as pd
from datetime import datetime
import time
import matplotlib.pyplot as plt

In [3]:
#Defining file path
file_to_load = 'Resources/clean_data.csv'
pd.set_option('display.max_columns', None)
data = pd.read_csv(file_to_load)
data.head()

,Unnamed: 0,Report_No,Reported_Date,Reported_Time,From_Date,From_Time,To_Date,To_Time,Offense,IBRS,Description,Beat,Address,City,Zip Code,Rep_Dist,Area,DVFlag,Invl_No,Involvement,Race,Sex,Age,Firearm Used Flag,Location
0,0,180067842,09/02/2018,18:15,09/02/2018,18:15,NaN,NaN,501,220,Burglary - Residence,332.0,3400 NORTON AV,KANSAS CITY,64130,PJ2783,EPD,U,1,VIC,U,U,0.0,N,3400 NORTON AV\nKANSAS CITY 64130
1,1,180007664,01/31/2018,17:22,01/31/2018,13:30,01/31/2018,15:45,1001,250,Forgery,133.0,4000 MILL ST,KANSAS CITY,54111,PJ3255,CPD,U,2,VIC,U,U,0.0,N,4000 MILL ST\nKANSAS CITY 54111
2,2,180007431,01/30/2018,19:00,05/14/2017,12:00,01/30/2018,19:00,1750,11D,Sex Off Fondle - mol,334.0,4300 PROSPECT AV,KANSAS CITY,64130,PJ3505,EPD,Y,1,VIC,W,F,0.0,N,4300 PROSPECT AV\nKANSAS CITY 64130\n(39.04820...
3,3,180007426,01/30/2018,17:41,01/29/2018,00:01,01/30/2018,17:41,501,220,Burglary - Residence,232.0,7100 HIGHLAND AV,KANSAS CITY,64134,PJ5421,MPD,U,1,VIC,B,M,66.0,N,7100 HIGHLAND AV\nKANSAS CITY 64134\n(38.99823...
4,4,180094471,12/08/2018,13:00,12/08/2018,13:00,NaN,NaN,1401,290,Property Damage,333.0,2500 E 42 ST,KANSAS CITY,64133,PJ3350,EPD,U,1,SUS,B,M,0.0,N,2500 E 42 ST\nKANSAS CITY 64133

In [5]:
columns = ['Reported_Date', 'Description']
cleanedData = data[columns]
cleanedData

       Reported_Date           Description
0         09/02/2018  Burglary - Residence
1         01/31/2018               Forgery
2         01/30/2018  Sex Off Fondle - mol
3         01/30/2018  Burglary - Residence
4         12/08/2018       Property Damage
...              ...                   ...
128933    12/23/2018  HOMICIDE/Non Neglige
128934    12/27/2018  Stealing Shoplifting
128935    12/29/2018  Burglary - Residence
128936    12/25/2018  Non Agg Assault Dome
128937    12/25/2018  Stealing Shoplifting

[128938 rows x 2 columns]

In [ ]:
#Converting reported date field to type datetime
cleanedData['Reported_Date'] = pd.to_datetime(cleanedData['Reported_Date'], errors='coerce')

In [ ]:
#Getting the total number of crimes that took place in each month,
#got the code from https://stackoverflow.com/questions/44908383/how-can-i-group-by-month-from-a-date-field-using-python-pandas
totalByMonth = cleanedData.groupby(cleanedData['Reported_Date'].dt.strftime('%B'))['Reported_Date'].count()

In [ ]:
#Converting the series to a dataframe to make user friendly to work with
totalByMonth_df = pd.DataFrame(totalByMonth)

In [ ]:
#sorting the dataframe to list the results in sorted manner,
#got the code from https://stackoverflow.com/questions/40816144/pandas-series-sort-by-month-index
months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October',
         'November', 'December']
totalByMonth_df.index = pd.CategoricalIndex(totalByMonth_df.index, categories=months, ordered=True)
totalByMonth_df = totalByMonth_df.sort_index()
totalByMonth_df