In [1]:
#import libraries
import pandas as pd
import numpy as np

#load data from file to dataframes
file_to_load ="Resources/KCPD_Crime_Data_2018.csv"
raw_data = pd.read_csv(file_to_load)
raw_data.head()

,Report_No,Reported_Date,Reported_Time,From_Date,From_Time,To_Date,To_Time,Offense,IBRS,Description,...,Rep_Dist,Area,DVFlag,Invl_No,Involvement,Race,Sex,Age,Firearm Used Flag,Location
0,180067842,09/02/2018,18:15,09/02/2018,18:15,NaN,NaN,501,220,Burglary - Residence,...,PJ2783,EPD,U,1,VIC,U,U,NaN,N,3400 NORTON AV\nKANSAS CITY 64130
1,180007664,01/31/2018,17:22,01/31/2018,13:30,01/31/2018,15:45,1001,250,Forgery,...,PJ3255,CPD,U,2,VIC,NaN,NaN,NaN,N,4000 MILL ST\nKANSAS CITY 54111
2,180007431,01/30/2018,19:00,05/14/2017,12:00,01/30/2018,19:00,1750,11D,Sex Off Fondle - mol,...,PJ3505,EPD,Y,1,VIC,W,F,NaN,N,4300 PROSPECT AV\nKANSAS CITY 64130\n(39.04820...
3,180007426,01/30/2018,17:41,01/29/2018,00:01,01/30/2018,17:41,501,220,Burglary - Residence,...,PJ5421,MPD,U,1,VIC,B,M,66.0,N,7100 HIGHLAND AV\nKANSAS CITY 64134\n(38.99823...
4,180094471,12/08/2018,13:00,12/08/2018,13:00,NaN,NaN,1401,290,Property Damage,...,PJ3350,EPD,U,1,SUS,B,M,NaN,N,2500 E 42 ST\nKANSAS CITY 64133

In [2]:
#clean up of sex, race, age
values = {'Sex':"U",'Race':"U",'Age':99,'Area':"U",'Beat':"U"}
clean_data = raw_data.fillna(value=values)
clean_data.head()

,Report_No,Reported_Date,Reported_Time,From_Date,From_Time,To_Date,To_Time,Offense,IBRS,Description,...,Rep_Dist,Area,DVFlag,Invl_No,Involvement,Race,Sex,Age,Firearm Used Flag,Location
0,180067842,09/02/2018,18:15,09/02/2018,18:15,NaN,NaN,501,220,Burglary - Residence,...,PJ2783,EPD,U,1,VIC,U,U,99.0,N,3400 NORTON AV\nKANSAS CITY 64130
1,180007664,01/31/2018,17:22,01/31/2018,13:30,01/31/2018,15:45,1001,250,Forgery,...,PJ3255,CPD,U,2,VIC,U,U,99.0,N,4000 MILL ST\nKANSAS CITY 54111
2,180007431,01/30/2018,19:00,05/14/2017,12:00,01/30/2018,19:00,1750,11D,Sex Off Fondle - mol,...,PJ3505,EPD,Y,1,VIC,W,F,99.0,N,4300 PROSPECT AV\nKANSAS CITY 64130\n(39.04820...
3,180007426,01/30/2018,17:41,01/29/2018,00:01,01/30/2018,17:41,501,220,Burglary - Residence,...,PJ5421,MPD,U,1,VIC,B,M,66.0,N,7100 HIGHLAND AV\nKANSAS CITY 64134\n(38.99823...
4,180094471,12/08/2018,13:00,12/08/2018,13:00,NaN,NaN,1401,290,Property Damage,...,PJ3350,EPD,U,1,SUS,B,M,99.0,N,2500 E 42 ST\nKANSAS CITY 64133

In [4]:
clean_data.to_csv("Resources/clean_data.csv")